<div class="row">
  <div class="col-sm-12">
    <h1 class="text-center">Survey Builder</h1>
    <hr/>
  </div>
  <div class="col-sm-4 offset-sm-2 border border-dark border-left-0 border-bottom-0 border-top-0">
    <h2 class="h4"><span class="text-secondary">1. Build survey</span></h2></div>
  <div class="col-sm-6"><h2 class="h4">2. Add questions</h2></div>
</div>

<div class="text-secondary">
  <%= render partial: 'surveys/survey_header', locals: { survey: survey } %>
</div>

<%= render partial: 'complete_question_form',
           locals: { survey: survey, question: question } %>