<div class="form-group top-buffer">
  <% inquiry.question.question_options.each do |answer| %>
      <div class="form-check">
        <label class="form-check-label">
          <%= radio_button_tag "questions[#{i}][answers][]",
                               answer.body,
                               selected_answer?(inquiry, answer),
                               class: 'form-check-input' %>
          <%= answer.body %>
        </label>
      </div>
  <% end %>
</div>


